* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Roboto, sans-serif;
}

/* Custom styles for the SweetAlert2 title */
.my-swal-title {
  font-size: 22px !important;
  font-weight: bold !important; 
}

/* Custom styles for the SweetAlert2 text */
.my-swal-text {
  font-size: 15px !important; 
}

/* Adjust the spacing and size of the SweetAlert2 modal */
.my-swal-popup {
  width: 450px !important; /
}

/* Custom styles for the SweetAlert2 button */
.my-swal-button {
  background-color: #007bff !important; 
  color: white !important; 
  border: none !important;
  padding: 8px 16px !important; 
  font-size: 16px !important; 
  border-radius: 4px !important; 
}

.print-hidden {
  display: block;
}

.print-only {
  display: block;
}

@media print {
  @page {
    margin-block: 5mm; 
    margin-inline: 5mm;
}

  .print-hidden {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .MuiDataGrid-columnHeader[data-field="action"],
  .MuiDataGrid-cell[data-field="action"] {
    display: none !important; /* Hide both header and cell for the Action column */
    border: none !important;
  }
  .MuiDataGrid-footerContainer {
    display: none !important;
  }
  .MuiDataGrid-cell, .MuiDataGrid-columnHeader {
    min-width: 30px !important; 
    max-width: 200px !important; 

  }
  /* Allow column header text to wrap and remove ellipsis */
  .MuiDataGrid-columnHeader {
    white-space: normal !important;
    line-height: 1.2em !important;
    text-overflow: clip !important; 
    overflow: visible !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
}

.MuiDataGrid-columnHeaderTitle {
    white-space: normal !important; 
    text-overflow: clip !important; 
    overflow: visible !important; 
    display: inline-block !important;
}

.MuiDataGrid-columnHeader .MuiDataGrid-menuIcon {
  display: none !important; /* Completely hides the three-dot menu icon */
}

  .MuiDataGrid-root {
    font-size: 10px;
    width: 100% !important;
    overflow: visible !important; /* Prevents any overflow in print mode */
    height: auto !important; /* Allows the DataGrid to take full height */

  }
}